extends layout

block content
      .container
              h1 Hobby versus profession
              p Many coding professionals will agree that there is no one ‘best’ language to learn and once you learn a new language, it’s a natural progression to learning the next. HTML and CSS are good places to start but these are only the tip of the iceberg. Languages such as Ruby on Rails, JavaScript and Python are among the many other important programming languages out there. If working for a company it is often a requirement that you know certain languages, so it’s worth having one or two specialties but be prepared to know others and put them into practice.
