extends layout

block content
      .container
              h1 Hobby versus profession
              p Consider why you want to code. Is it for a hobby or a professional career?If coding is a hobby and you have some ideas of what you want to create then go ahead and create them. Software and hosting is free and there are some great free online coding courses to help you learn. It doesn’t cost anything except time. However, being able to program is a career booster and the professional advantages that come from it include good salary, the chance to travel the world, the opportunity to work for a major industry leader or even create your own start-up.Ultimately, it is up to you what you decide to do with your coding knowledge.
