extends layout

block content

      .jumbotron
              .container
                      h1 What is this about!
                      p Coding is a great hobby that can lead to a lucrative and very fulfilling career. For many coding hobbyists, though, there are a lot of questions between point A – having a passion for programming – and point B – turning that passion into a career. Additionally, there are several potential career paths to consider before making the jump.
                      a.btn.btn-lg.btn-primary(href='#') View Details &raquo
      .container
              .row
                      .col-md-4
                              h1 Hobby versus profession
                              p Consider why you want to code. Is it for a hobby or a professional career?If coding is a hobby and you have some ideas of what you want to create then go ahead and create them. Software and hosting is free and there are some great free online coding courses to help you learn. It doesn’t cost anything except time. However, being able to program is a career booster and the professional advantages that come from it include good salary, the chance to travel the world, the opportunity to work for a major industry leader or even create your own start-up.Ultimately, it is up to you what you decide to do with your coding knowledge.
                              a.btn.btn-primary.btn-large(href='#') Learn it &raquo
                      .col-md-4
                              h1 Mastering the language
                              p Many coding professionals will agree that there is no one ‘best’ language to learn and once you learn a new language, it’s a natural progression to learning the next. HTML and CSS are good places to start but these are only the tip of the iceberg. Languages such as Ruby on Rails, JavaScript and Python are among the many other important programming languages out there. If working for a company it is often a requirement that you know certain languages, so it’s worth having one or two specialties but be prepared to know others and put them into practice.
                              a.btn.btn-primary.btn-large(href='#') Learn it &raquo
                      .col-md-4
                              h1 Find a mentor
                              p Mentors are great at teaching best practice and are ideal for making sure you learn how to write ‘good code’ that is easily understandable to others.They are also good for keeping you focused and can help speed up the learning process. Furthermore, mentors are great for telling you which mistakes to avoid and how to approach and solve problems.If learning to code independently, you can find mentors at HackPledge but for coding academies such as CodeClan, your mentors are us – the instructors – and they can be crucial to your success as a developer.
                              a.btn.btn-primary.btn-large(href='#') Learn it &raquo
